:root {
    --darkcolor: #2C439B;
    --contrastcolor: #F89A45;
    --lightcolor: white;
    --bordercolor: 3px solid black;
    --leftbannerwidth:
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--darkcolor);
    color: var(--lightcolor);
}

nav {
    display: inline-flex;
    border: var(--bordercolor);
    width: 100%;
}



nav a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

nav a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

nav a:hover {
    background-color: brown;
    text-decoration: none;
}

.topnavbar {
    background-color: var(--darkcolor);
    justify-content: center;
}

.topnavbar li{
    display: inline;
    padding: 4px;
}

.logo-img {
    align-items: flex-start;
    max-width: 46px;
    max-height: 46px;
    padding-bottom: 5px;
}

#slogan {
    color: brown;
    font-size: 25px;   
}

header {
    padding: 30px;
    text-align: center;
    color: var(--contrastcolor);
    font-size: 20;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    background-image: linear-gradient(yellow, darkorange);  
}

.headercontent {
    display: inline;
    color: var(--darkcolor);
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
    width: 100px;
    position: absolute;
    padding: 5px;
    background-color: var(--contrastcolor);
    border: 3px solid white;
}

.about-me {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: var(--bordercolor);   
}

.about-me-aside {
    margin: 0;
    padding: 20px;
    background-color: var(--contrastcolor);
    color: var(--darkcolor);
    border-right: var(--bordercolor);
}

.about-me-text {
    background-color: var(--darkcolor);
    padding: 10px;   
}

.projects {
    display: flex;
    border-top: var(--bordercolor);
    width: 100%;
    
}

.projects-aside {
    margin: 0;
    padding: 20px;
    background-color: var(--contrastcolor);
    color: var(--darkcolor);
    width: 115px;
    border-right: var(--bordercolor);
}

.parallax-card {
    width: 100%;
    background-color: var(--darkcolor);
    text-align: center;
    cursor: pointer;
}

.bottom-projects {
    display: flex;
    text-align: center;
    
}

.bottom-projects img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.contact {
    display: inline;
    text-align: center;
    width: 100%;
    border: var(--bordercolor);
    
}

footer h2 {
    width: 115px;
    float: left;
    border-right: var(--bordercolor);
    background-color: var(--contrastcolor);
    color: var(--darkcolor);
}

footer ul {
    display: inline-flex;
    justify-content: space-around;
}

footer a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

footer a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

footer a:hover {
    background-color: brown;
    text-decoration: none;
}

@media 







