:root {
    --darkcolor: #2C439B;
    --contrastcolor: #F89A45;
    --lightcolor: white;
    --bordercolor: 3px solid black;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--darkcolor);
    color: var(--lightcolor);
}

.topnav {
    display: flex;
    border: var(--bordercolor);

}

.topnav li:first-child {
    margin-right: auto;

}

.topnav a {
    display: flex;
    margin: 10px;
    border-radius: 2px;
    background-color: cornsilk;
}

nav a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

nav a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

nav a:hover {
    background-color: brown;
    text-decoration: none;
}

.topnavbar {
    background-color: var(--darkcolor);
}

.topnavbar li{
    /* display: inline; */
    padding: 10px;
    float: right;
    list-style-type: none;
}

.logo-img {
    max-width: 46px;
    max-height: 46px;
    padding-bottom: 5px;
}

#slogan {
    color: brown;
    font-size: 25px;   
}

header {
    padding: 30px;
    text-align: center;
    color: var(--contrastcolor);
    font-size: 20;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    background-image: linear-gradient(yellow, darkorange);  
}

.headercontent {
    display: inline;
    color: var(--darkcolor);
}

.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: var(--bordercolor);   
}

.about-me-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.about-me img {
    max-width: 100%;
}

.about-me-img {
    flex-basis: 30%;
}

.about-me-aside {
    margin: 0;
    padding: 20px;
    color: var(--contrastcolor);
    border-bottom: 5px solid #F89A45;
}

.about-me-text {
    background-color: var(--darkcolor);
    font-size: 20px;
    padding: 10px;   
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: var(--bordercolor); 
    margin: 0;
    
}

.projects-aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 20px;
    color: var(--contrastcolor);
    border-bottom: 5px solid #F89A45;
}
/* Effects the div */
.top-image {
    width: 300px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-color: var(--darkcolor);
    cursor: pointer;
}
/* Effects the image of the div */
.top-image img {
    width: 100%;
    object-fit: fill;
    margin: 0 auto;
}

.bottom-projects {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    
}

.grid-item {
    padding: 20px;
    place-items: center;
}

.bottom-projects img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.contact {
    display: inline;
    text-align: center;
    width: 100%;
    /* border: var(--bordercolor); */
    flex-shrink: 1;
    
}

footer h2 {
    width: 115px;
    float: left;
    border-bottom: 5px solid var(--contrastcolor);
    color: var(--contrastcolor);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

footer a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

footer a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

footer a:hover {
    background-color: brown;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    nav a {
        display: flex;
        flex-direction: column;
    }
    header h3 {
        display: none;
    }
    .projects-aside {
        width: 15%;
    }
    .about-me-aside {
        width: 15%;
    }
}

@media screen and (max-width: 411px) {
    .topnav {
        flex-direction: column;
        align-items: flex-end;
        justify-content:space-evenly;
    }

    .topnev li {
        padding: 0
    }

    header h3 {
        
    }
    
    .about-me-img {
        display: none;
    }

    .about-me-text {
        display: flex;
        flex-direction: column;
    }

    .about-me-aside {
        width: 30%
    }


}







