:root {
    --darkcolor: darkblue;
    --contrastcolor: darkorange;
    --lightcolor: white;
    --bordercolor: 5px solid black;
}

* {
    box-sizing: border-box;
}

body {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--darkcolor);
    color: var(--lightcolor);
}

nav {
    display: flex;
}

header {
    padding: 50px;
    text-align: center;
    background: var(--darkcolor);
    color: var(--contrastcolor);
    font-size: 20;
    font-family: 'Rubik', sans-serif;  
}



#slogan {
    color: var(--lightcolor);
    font-size: 25px;   
}

.headercontent {
    display: inline;
}

.headerimg {
    float: right;
    max-width: 15%;
    height: auto;
    padding-right: 40px;
}

.topnavbar {
    background-color: var(--darkcolor);
    justify-content: center;
}

.topnavbar li{
    display: inline;
    padding: 4px;
}

.logo-img {
    float: left;
    max-width: 46px;
    max-height: 46px;
}

.about-me {
    display: inline-flex;
    border-top: var(--bordercolor);   
}

.about-me-aside {
    float: left;
    padding: 20px;
    background-color: var(--contrastcolor);
    color: var(--darkcolor);
}

.about-me-text {
    background-color: var(--darkcolor);   
}

.projects {
    display: inline-flex;
    border-top: var(--bordercolor);
    width: 100%;
    
}

.projects-aside {
    float: left;
    padding: 20px;
    background-color: var(--contrastcolor);
    color: var(--darkcolor);
    display: block;
}

.parallax-card {
    width: 100%;
    background-color: var(--darkcolor);
    margin-left: 300px;
    text-align: center;
    cursor: pointer;
}

.bottom-projects {
    display: inline-flex;
    
}

.bottom-projects img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}



